.batleArena {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;


    will-change: auto;
    transition: all 300ms;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translate3d(0, +100vh, 0);
    position: fixed;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;

}


.active {
    will-change: auto;
    transition: all 300ms;
    z-index: 15;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    position: fixed;
    top: 0;
}

.containerArena {

    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.8);
}

/**

.containerArena:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/gargantua_00.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.8;
}
*/

.containerHeroes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.containerHeroes .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: min-content;
}

.metricas {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.metricas .linhaSpan {

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.metricas .linhaSpan i {
    padding: 1rem;
}

.fa-arrow-up {
    color: green;
}

.fa-arrow-down {
    color: red;
}

.linhaSpan span {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}


.mobileView {
    display: none;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.8);
}

.mobileView .hero {
    width: max-content;

}

.winnerName {
    color: rgb(18, 195, 36);
    margin-left: 1rem;
}
.statusMobile i, #statusPc i {
    position: absolute;
    bottom: 10rem;
    right: 2rem;
    font-size: 30px;
    color: rgba(228, 79, 79, 0.8);
    cursor: pointer;
}
.statusMobile i:active, #statusPc i  {
    filter: brightness(1.5);
}

.winnerSpan {
    font-size: 20px;
    width: 100%;
}

@media only screen and (max-width: 1050px) {

    .containerArena {
        overflow-y: scroll;
    }

    .containerHeroes {
        flex-direction: column;
    }

    .metricas {
        width: 80%;
    }

    .heroMoblile {
        display: flex !important;
    }

    .heropc {
        display: none !important;
    }
}


@media only screen and (max-width: 420px) {

    .containerArena {
        display: none;
    }

    .mobileView {
        display: flex;
    }

    .heroMoblile {
        flex-direction: column;
    }
}